.comitee-bar {
  display: grid;
  max-width: 100ch;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3em 2em;
  margin: 1em auto;
  padding: 0 4em;
}

.comitee-card-link {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.comitee-card {
  display: flex;
  // justify-content: center;
  align-items: center;
  gap: 1.5em;

  .comitee-card-image {
    width: 7em;
    height: 7em;
    aspect-ratio: 1/1;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      border-radius: 50%;

      overflow: hidden;
    }

    &::before,
    &::after {
      --effect-border-width: 6px;
      box-sizing: content-box;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      border: var(--effect-border-width) solid black;
      border-radius: 50%;
      top: calc(-var(--effect-border-width));
      left: calc(-var(--effect-border-width));
      transition: transform 1s ease-in-out;
    }

    &::before {
      border-top-color: transparent;
      border-bottom-color: transparent;
    }

    &::after {
      border-left-color: transparent;
      border-right-color: transparent;
    }

    &:hover::before {
      transform: scale(1) rotate(160deg);
    }

    &:hover::after {
      transform: scale(1.1) rotate(-160deg);
    }
  }
}
