.event-card {
  padding: 1em;
  border: 3px solid #000000;
  border-radius: 10px;

  .event-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5em;
    flex-wrap: wrap;

    * {
      margin: 0.2rem;
    }
  }

  .event-start {
    font-weight: bold;
  }
}

.events-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  gap: 1em;
}
