.game-embed {
  width: 640px;
  height: 360px;
  align-self: center;
  margin-bottom: 2em;
}

.game-embed-skeleton {
  width: 640px;
  height: 360px;
  margin-bottom: 2em;
  background-color: #eee;
}
