.social-link-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  z-index: 100;

  margin: 1.5em;
  height: 4em;

  gap: 2em;
}
